{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}



  <h2 class="text-center my-3">Liste des articles</h2>
  <div class="row">
  {% for article in articles %}

    <div class="col-lg-4 col-12">
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">{{ article.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ article.created | date('d/m/Y') }}</h6>
                <p class="card-text">{{ article.description }}</p>
                <a href="{{ path('app_article_show', {'id' : article.id } ) }}" class="card-link">Afficher</a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>

 <h2 class="text-center my-3">Liste des produits</h2>
 <div class="row">
  {% for produit in produits %}
    <div class="col-lg-4 col-12">
        <div class="card my-3">
            <div class="card-body">
                <h5 class="card-title">{{ produit.title }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ produit.created | date('d/m/Y') }}</h6>
                <p class="card-text">{{ produit.description }}</p>
                <p class="card-text">{{ produit.prix }}€</p>
                <a href="{{ path('app_produit_show', {'id' : produit.id } ) }}" class="card-link">Afficher</a>

                {% if app.user %}
                {% set break = false %}
                 {% set verif = true %}
                {% for favori in app.user.favoris %}
                    {% if favori.produit.id == produit.id %}
                        <a href="{{ path('app_favoris_delete', {'id' : favori.id } ) }}" class="card-link">Supprimer</a>
                        {% set verif = false %}
                        {% set break = true %}
                    {% endif %}
                {% endfor %}

                {% if verif %}
                    <a href="{{ path('app_favoris_ajout', {'id' : produit.id } ) }}" class="card-link">Ajouter favoris</a>
                 {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
{% endfor %}
</div>

{% endblock %}

{% block bodyBis %}{% endblock %}
